<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="qigao-vcpkg" value="https://nuget.pkg.github.com/qigao/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <qigao-vcpkg>
      <add key="Username" value="qigao" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </qigao-vcpkg>
  </packageSourceCredentials>
</configuration>
